.toggle__menu {
    visibility: hidden;
}

.toggle__hamburger {
    position: absolute;
    left: 40px;
    top: 52px;
}

.toggle__button {
    display: flex;
    align-items: center;
    position: fixed;
    top: 52px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
    margin-left: 8px;
}

.toggle__button > span,
.toggle__button > span::before,
.toggle__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #323232;
}
.toggle__button > span::before {
  content: '';
  top: -8px;
}
.toggle__button > span::after {
  content: '';
  top: 8px;
}

.toggle__content {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
}

.toggle__box {
    display: block;
    /* position: fixed; */
    /* visibility: hidden; */
    /* top: 0; */
    /* left: -100%; */
    width: 300px;
    height: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.toggle__content::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 1009px;
    width: 587px;
    background-color: #7EBC31;
    z-index: -1;
    clip-path: polygon(0% 0%, 187px 0%, 100% 50%, 187px 100%, 0% 100%);
}

.toggle__item {
    display: block;
    margin-bottom: 24px;
    margin-left: 40px;
    text-align: left;
    line-height: 23px;
}

.toggle__item:first-child {
    margin-top: 230px;
}

.toggle__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.toggle__item:last-child {
    margin-bottom: 0;
}

.toggle__item:hover {
    color: #CFD8DC;
}

#toggle__menu:checked ~ .toggle__button > span {
    transform: rotate(45deg);
    background-color: #fff;
}

#toggle__menu:checked ~ .toggle__button > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
}

#toggle__menu:checked ~ .toggle__button > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #fff;
}

#toggle__menu:checked ~ .toggle__content {
    visibility: visible;
    left: 0;
}

.toggle__logo {
    width: 124px;
    z-index: 2;
    position: fixed;
    height: 32px;
    top: 48px;
    left: 84px;
}

.toggle__header {
    display: flex;
    flex-direction: row;
}
