.search__button {
    border: none;
    background-color: transparent;
    margin-left: 44px;
    height: 24px;
    margin-top: 52px;
}

.search__img {
    width: 24px;
    height: 24px;
}

.search__input {
    width: 825px;
    height: 56px;
    border: 0.5px solid grey;
    padding: 0 18px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    margin-top: 35px;
}
