.header {
    display: flex;
    flex-direction: row;
}

.header__img {
    padding: 0;
    margin-left: 89px;
    height: 32px;
    padding-top: 48px;
}

.header__img-green-top {
    margin-right: 37px;
}

.header__number {
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin-left: 47px;
    color: #323232;
    margin-top: 7px;
    letter-spacing: -0.5px;
    padding-top: 48px;
}

.header__group {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 1321px;
}