.header {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
}

.header__img {
    padding: 0;
    margin-left: 89px;
    height: 32px;
}

.header__search {
    width: 24px;
    height: 24px;
    margin-left: 48px;
    margin-top: 4px;
}

.header__number {
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin-left: 47px;
    color: #323232;
    margin-top: 7px;
    letter-spacing: -0.5px;
}